@font-face {
  font-weight: 400;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #464646;
  min-width: 1160px;
  height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border: 0px;
  display: block;
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
}

.button {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, transparent), color-stop(43%, rgba(240, 197, 46, 1)), color-stop(57%, rgba(240, 197, 46, 1)), color-stop(57%, transparent));
  background-image: -webkit-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: -o-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  display: block;
}

.button:hover {
  background-color: rgba(240, 197, 46, 1);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(240, 197, 46, 1);
}

.header {
  background-color: rgba(247, 226, 150, 1);
  min-height: 186px;
  margin-top: 40px;
}

.header-logo a {
  display: block;
}

.header-logo img {
  position: relative;
  top: -19px;
  left: 59px;
  width: 164px;
  height: 36px;
}

.header-logo img:hover {
  opacity: 0.6;
}

.header-logo img:active {
  opacity: 0.3;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 441px;
  height: 49px;
  line-height: 36px;
  text-align: left;
  padding-left: 4px;
  margin-left: 59px;
  color: #000000;
}

.header-search svg {
  display: block;
}

.search-icon {
  padding-right: 18px;
  padding-top: 16px;
}

.search-input:focus~.search-icon {
  border-bottom: 2px solid black;
}

.search-input {
  border: 0;
  background-color: transparent;
  width: 315px;
  outline: none;
  -webkit-box-ordinal-group: 6;
  -ms-flex-order: 5;
  order: 5;
  opacity: 0.3;
  margin-top: -5px;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus {
  border-bottom: 2px solid black;
  opacity: 1;
}

.search-input:focus+.search-btn {
  border: 2px solid black;
  visibility: visible;
}

.search-btn {
  width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  visibility: hidden;
  -webkit-box-ordinal-group: 11;
  -ms-flex-order: 10;
  order: 10;
}

.search-btn:hover {
  background-color: #000;
  color: #fff;
}

.search-btn:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
  visibility: visible;
  outline: none;
}

.header-user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.header-user-navigation {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000;
  line-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 61px;
  width: 598px;
  margin-top: 4px;
}

.header-user-navigation a:hover {
  opacity: 0.6;
}

.header-user-navigation a:active {
  opacity: 0.3;
}

.user-login {
  width: 287px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login-link {
  display: inline-block;
  vertical-align: baseline;
}

.login-link::before {
  content: "";
  background-image: url('../img/svg/user.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  margin-right: 14px;
  vertical-align: baseline;
}

.link-out {
  margin-left: auto;
  padding-right: 60px;
}

.compare {
  width: 130px;
  display: block;
}

.compare::before {
  content: "";
  background-image: url('../img/svg/compare.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 2px;
  vertical-align: baseline;
}

.cart {
  width: 143px;
  display: block;
}

.cart::before {
  content: "";
  background-image: url('../img/svg/cart.svg');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 11px;
  margin-left: 2px;
  vertical-align: baseline;
}

.catalog-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.catalog-navigation a:hover {
  opacity: 0.6;
}

.catalog-navigation a:active {
  opacity: 0.3;
}

.catalog-item {
  width: 540px;
  margin-left: 58px;
  position: relative;
}

.catalog-item a {
  padding-left: 2px;
}

.delivery-item a {
  padding-left: 4px;
}

.warranty-item a {
  padding-left: 3px;
}


.contacts-item a {
  padding-left: 3px;
}


.catalog-item:hover .category, .catalog-item a:focus~.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
  left: -58px;
  background-color: rgba(247, 226, 150, 1);
}

.plus-icon::after {
  content: "";
  display: inline-block;
  background-image: url('../img/svg/plus.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  vertical-align: middle;
}

.delivery-item {
  width: 159px;
}

.warranty-item {
  width: 223px;
}

.contacts-item {
  width: 178px;
}

.category {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-size: 15px;
  text-transform: none;
  display: none;
  width: 1160px;
  min-height: 164px;
  padding: 0 0 0 58px;
  background-color: rgb(247, 226, 150);
  z-index: 5;
}

.category:focus {display: block;}

.category-1,
.category-2,
.category-3 {
  list-style: none;
}

.category-1 {
  padding: 22px 55px 0 3px;
}

.category-2 {
  padding: 22px 72px 0 3px;
}

.category-3 {
  padding: 22px 55px 0 3px;
}

.page-title-catalog {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  padding-top: 34px;
  padding-left: 61px;
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  margin-top: 15px;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 61px;
}

.breadcrumbs li {
  margin-right: 18px;
}

.breadcrumbs li a {
  opacity: 0.3;
}

.breadcrumbs li a:hover {
  opacity: 0.6;
}

.breadcrumbs li a:active {
  opacity: 0.1;
}

.breadcrumbs li::after {
  content: "";
  background-image: url('../img/svg/nav-arrow.svg');
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  display: inline-block;
  margin-left: 15px;
  vertical-align: baseline;
}

.breadcrumbs li:last-child::after {
  content: "";
  background-image: none;
}

.header-slider {
  position: relative;
  min-height: 576px;
  margin: 0px;
}

.header-slider::before {
  content: "";
  background-color: rgba(247, 226, 150, 1);
  height: 113px;
  width: 100%;
  display: block;
  position: absolute;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-content {
  width: 500px;
  margin-right: 60px;
  margin-left: auto;
}

.slide-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  padding-top: 83px;
  margin: 0;
  z-index: 2;
}

.slide-3 .slide-title {
  letter-spacing: 0;
}

.slide-title::before {
  content: "";
  display: block;
  background-color: white;
  width: 100px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 38px;
}

.slide-number {
  content: "";
  color: white;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  line-height: 179px;
  letter-spacing: 0.01em;
  font-size: 179px;
  display: block;
  position: absolute;
  top: -12px;
  right: 45px;
  z-index: 1;
}

.slide p {
  margin-top: 21px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  padding-bottom: 28px;
}

.slide-btn {
  width: 220px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, transparent), color-stop(43%, rgba(240, 197, 46, 1)), color-stop(57%, rgba(240, 197, 46, 1)), color-stop(57%, transparent));
  background-image: -webkit-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: -o-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
}

.slide-btn:hover {
  background-color: rgba(240, 197, 46, 1);
}

.header-slider-buttons {
  position: absolute;
  top: 326px;
  right: 85px;
}

.header-slider-buttons label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  background-image: url('../img/svg/slider-button-empty.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  vertical-align: baseline;
}

.header-slider-buttons label:first-child {
  margin-left: 0;
}

.header-slider-buttons label:last-child {
  margin-right: 0;
}

.slide {
  display: none;
}

.slide-1-btn:checked~.slide-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-2-btn:checked~.slide-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-3-btn:checked~.slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-1-btn:checked~.header-slider-buttons .slider-label-1 {
  background-image: url('../img/svg/slider-button.svg')
}

.slide-2-btn:checked~.header-slider-buttons .slider-label-2 {
  background-image: url('../img/svg/slider-button.svg')
}

.slide-3-btn:checked~.header-slider-buttons .slider-label-3 {
  background-image: url('../img/svg/slider-button.svg')
}

.slide-1 img {
  margin-left: 89px;
  margin-top: 2px;
}

.slide-2 img {
  margin-left: 116px;
  margin-top: 14px;
}

.slide-3 img {
  margin-left: 31px;
  margin-top: 66px;
}

.header-slider input[type=radio] {
  display: none;
}

.slide-description {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 44px;
}

.slide-1 .slide-description td {
  padding: 10px 76px 0 0;
}

.slide-1 .slide-description td:last-child {
  padding-right: 0;
}

.slide-2 .slide-description td {
  padding: 10px 76px 0 0;
}

.slide-2 .slide-description td:last-child {
  padding-right: 0;
}

.slide-3 .slide-description td {
  padding: 10px 48px 0 0;
}

.slide-3 .slide-description td:last-child {
  padding-right: 0;
}

.main-description {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 36px;
  letter-spacing: 0.01em;
}

.more-description {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.icon-navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 18px;
  letter-spacing: 0.01em;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 36px;
}

.icon-navigation li {
  display: block;
  width: 160px;
  min-height: 236px;
}

.icon-navigation a:active {
  opacity: 0.3;
}

.icon-menu-btn {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.icon-menu-btn img {
  margin: auto;
}

.icon-menu-btn .icon-monopod {
  margin-bottom: 0;
}

.icon-menu-btn .icon-quadrocopters {
  margin-top: 50px;
  margin-left: 13px;
}

.icon-menu-btn .icon-smart-watch {
  margin-left: 55px;
  margin-top: 33px;
}

.icon-menu-btn .icon-fitness-bracelets {
  margin-top: 51px;
  margin-left: 28px;
}

.icon-menu-btn .icon-action-camera {
  margin-left: 49px;
  margin-top: 39px;
}

.icon-menu-btn:hover {
  background-color: rgba(240, 197, 46, 1)
}

.icon-menu-btn:active {
  background-color: rgba(240, 197, 46, 1);
}

.icon-menu-btn:active img {
  opacity: 0.3;
}

.services {
  width: 100%;
  margin-top: 85px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(#e5e5e5 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(#e5e5e5 0%, #e5e5e5 100%);
  background-image: linear-gradient(#e5e5e5 0%, #e5e5e5 100%);
  background-repeat: no-repeat;
  background-position: 0 100px;
  padding-bottom: 70px;
}

.services-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 320px;
}

.services-slide {
  width: 875px;
  display: none;
}

.services-slider input[type=radio] {
  display: none;
}

.services-slide-1-btn:checked~.services-button .services-label-delivery,
.services-slide-2-btn:checked~.services-button .services-label-warranty,
.services-slide-3-btn:checked~.services-button .services-label-credit {
  color: #f7e184;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #000000;
  width: 278px;
  background-image: none;
}

.services-slide-1-btn:checked~.delivery,
.services-slide-2-btn:checked~.warranty,
.services-slide-3-btn:checked~.credit {
  display: block;
}

.delivery {
  background-image: url("../img/svg/delivery.svg");
  background-repeat: no-repeat;
  background-position-x: 675px;
  background-position-y: 86px;
}

.warranty {
  background-image: url("../img/svg/warranty.svg");
  background-repeat: no-repeat;
  background-position-x: 659px;
  background-position-y: 62px;
}

.credit {
  background-image: url("../img/svg/credit.svg");
  background-repeat: no-repeat;
  background-position-x: 650px;
  background-position-y: 62px;
}

.services-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 284px;
  border-right: 7px solid black;
  padding-top: 80px;
}

.services-button label {
  display: block;
  width: 160px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 11px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, transparent), color-stop(43%, rgba(240, 197, 46, 1)), color-stop(57%, rgba(240, 197, 46, 1)), color-stop(57%, transparent));
  background-image: -webkit-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: -o-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  margin-bottom: 25px;
}

.services-button label:hover {
  background-color: rgba(240, 197, 46, 1);
  background-image: none;
  width: 160px;
}

.services-button label:active {
  color: #f7e184;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #000000;
  width: 278px;
}

.services-label-btn {
  width: 160px;
  display: block;
  text-align: center;
  padding-left: 5px;
}

.services-slide h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
  margin: 0;
  padding-left: 119px;
  padding-top: 70px;
  letter-spacing: 0.012em;
  s
}

.services-slide img {
  float: right;
  margin-right: 65px;
  margin-top: -40px;
}

.services-slide p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding-left: 117px;
  margin: 0;
  margin-top: 29px;
  width: 545px;
  letter-spacing: 0.014em;
}

.brends-logo {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 93px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.brends-logo-item .img-grey {
  opacity: 0.2;
  display: block;
}

.brends-logo-item .img-color {
  display: none;
}

.brends-logo-item:hover .img-grey {
  display: none;
}

.brends-logo-item:hover .img-color {
  display: block;
  opacity: 1;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 81px;
}

.about-content {
  margin-bottom: 95px;
}

.about-us {
  width: 600px;
  position: relative;
  margin: 0;
  padding-top: 95px;
  padding-right: 128px;
}

.about-us h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
  margin: 47px 0 0 0;
  padding-bottom: 25px;
}

.about-us h2::before {
  content: "";
  display: block;
  background-color: black;
  width: 80px;
  height: 7px;
  position: absolute;
  top: 93px;
  left: 0;
}

.about-us p {
  letter-spacing: 0;
  line-height: 30px;
  padding-bottom: 15px;
}

.about-us ul {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  color: #000;
  list-style: none;
  padding: 35px 0 0 0;
}

.about-us ul>li {
  position: relative;
  padding-left: 35px;
}

.about-us ul>li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  border: 0.1em solid #e5e5e5;
}

.contacts {
  width: 560px;
  position: relative;
  margin: 0;
  padding-top: 103px;
}

.contacts h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.contacts h2::before {
  content: "";
  display: block;
  background-color: black;
  width: 80px;
  height: 7px;
  position: absolute;
  top: 93px;
  left: 0;
}

.contacts p {
  letter-spacing: 0;
  line-height: 30px;
  padding-bottom: 15px;
}

.contacts img {
  margin-top: 25px;
}

.about-us-btn,
.contacts-btn {
  width: 260px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-box-shadow: inset 0 17px 0 0 white, inset 0 -17px 0 0 white;
  box-shadow: inset 0 17px 0 0 white, inset 0 -17px 0 0 white;
  position: absolute;
  left: 2px;
  bottom: 1px;
  margin-top: 60px;
}

.about-us-btn:hover,
.contacts-btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer {
  background-color: #464646;
  width: 100%;
  min-height: 323px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contacts {
  width: 350px;
}

.footer-menu {
  width: 485px;
  margin-top: 120px;
}

.footer-left {
  width: 325px;
  margin-left: auto;
  position: relative;
}

.footer-logo a {
  display: block;
}

.footer-logo img {
  position: relative;
  top: 65px;
  width: 163px;
  height: 36px;
}

.footer-logo img:hover {
  opacity: 0.6;
}

.footer-logo img:active {
  opacity: 0.3;
}

.footer-adress {
  color: white;
  margin-top: 101px;
  position: relative;
}

.footer-adress::after {
  content: "";
  display: block;
  background-color: rgba(255, 198, 0, 1);
  width: 80px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 100px;
}

.footer-menu-services {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-right: 60px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-menu-services li {
  padding-left: 34px;
}

.footer-menu-services li:first-child {
  padding-left: 0;
}

.footer-menu-services a {
  color: #fff;
}

.footer-menu-services a:hover {
  opacity: 0.6;
}

.footer-menu-services a:active {
  opacity: 0.3;
}

.footer-menu-social {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 65px;
  margin-top: 65px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-menu-social li {
  padding-left: 22px;
}

.footer-menu-social li:first-child {
  padding-left: 0;
}

.social-btn {
  opacity: 0.3;
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.footer-menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 36px;
  padding: 0;
  margin: 60px 0 0 0;
  padding-left: 1px;
}

.footer-menu-user a {
  color: #fff;
  opacity: 0.7;
}

.login-link-footer {
  width: 113px;
  display: block;
}

.login-link-footer::before {
  content: "";
  background-image: url('../img/svg/user-footer.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  margin-right: 14px;
  vertical-align: baseline;
}

.compare-footer {
  width: 130px;
  display: block;
}

.compare-footer::before {
  content: "";
  background-image: url('../img/svg/compare-footer.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: baseline;
}

.cart-footer {
  width: 90px;
  display: block;
}

.cart-footer::before {
  content: "";
  background-image: url('../img/svg/cart-footer.svg');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: baseline;
}

.footer-menu-user a:hover {
  opacity: 1;
}

.footer-menu-user a:active {
  opacity: 0.3;
}

.footer-phone {
  color: white;
  margin-top: 40px;
  text-align: right;
}

.footer-copyright {
  position: absolute;
  bottom: 13px;
  right: -2px;
  widows: 27px;
  height: 35px;
  display: block;
}

.footer-copyright:hover {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.catalog-content-wr {
  background-image: -webkit-gradient(linear, left top, right top, from(#efefef), color-stop(50%, #efefef), color-stop(50%, rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 1))), -webkit-gradient(linear, left top, right top, from(#dcdcdc), color-stop(50%, #dcdcdc), color-stop(50%, #ebebeb), to(#ebebeb));
  background-image: -webkit-linear-gradient(left, #efefef, #efefef 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1)), -webkit-linear-gradient(left, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
  background-image: -o-linear-gradient(left, #efefef, #efefef 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1)), -o-linear-gradient(left, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
  background-image: linear-gradient(to right, #efefef, #efefef 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1)), linear-gradient(to right, #dcdcdc, #dcdcdc 50%, #ebebeb 50%, #ebebeb);
  background-repeat: no-repeat;
  background-position-y: 70px, 0;
}

.catalog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filter {
  width: 326px;
  min-height: 780px;
  background-color: #efefef;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.catalog-filter h2 {
  background-color: #dbdbdb;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 15px 0;
  padding-left: 61px;
  margin: 0 0 69px 0;
}

.filters {
  padding-left: 59px;
  width: 200px;
}

.fieldset-price,
.fieldset-bluetooth,
.fieldset-color {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
}

legend {
  padding: 0;
  border: 0;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

legend::before {
  content: "";
  width: 201px;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 1px;
  padding: 0;
}

.range-controls {
  position: relative;
  border-radius: 5px;
  background: #f1f1f1;
  border-top: 1px solid transparent;
  margin-top: 15px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
  margin-top: 12px;
}

.range-controls .bar {
  width: 112px;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 0;
  left: -6px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.range-controls .toggle:active {
  border: 9px solid #fff;
}

.range-controls .toggle-max {
  left: 107px;
}

.price-controls label {
  display: inline-block;
  opacity: 0.2;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  vertical-align: baseline;
}

.max-price {
  text-align: right;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding-left: 7px;
}

.price-controls input {
  width: 60px;
  padding: 8px 0;
  text-align: left;
  border: 0;
  background: transparent;
  color: #000000;
  font-family: "Gilroy", "Arial", serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.filter-color {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 2px;
}

.filter-bluetooth {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 14px;
}

.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url('../img/svg/checkbox-off.svg');
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin-right: 11px;
}

.filter-input-checkbox:checked+.checkbox-label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  background-image: url('../img/svg/checkbox-on.svg');
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin-right: 11px;
}

.filter-input-checkbox {
  display: none;
}

.radio-label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../img/svg/radio-off.svg');
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin-right: 13px;
}

.filter-radio-checkbox:checked+.radio-label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url('../img/svg/radio-on.svg');
  background-repeat: no-repeat;
  vertical-align: text-bottom;
  margin-right: 13px;
}

.filter-radio-checkbox {
  display: none;
}

.radio-label:hover::before,
.filter-radio-checkbox:checked+.radio-label:hover::before,
.filter-input-checkbox:checked+.checkbox-label:hover::before,
.checkbox-label:hover::before {
  opacity: 0.6;
}

.filter-btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, transparent), color-stop(43%, rgba(240, 197, 46, 1)), color-stop(57%, rgba(240, 197, 46, 1)), color-stop(57%, transparent));
  background-image: -webkit-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: -o-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  border: 0;
 
  padding-left: 10px;
}

.filter-btn:hover {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-product {
  width: 834px;
  padding: 0;
  background-color: white;
}

.sorting-container {
  min-height: 70px;
  background-color: #ebebeb;
  position: relative;
  padding-left: 75px;
}

.catalog-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
  margin: 0;
}

.menu-item-title {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.23em;
  margin-right: 21px;
}

.menu-item {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 30px;
  opacity: 0.3;
}

.catalog-menu li:first-child {
  margin-left: 0;
  opacity: 1;
}

.catalog-menu-btn {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 9px;
  right: 0;
  padding: 0;
}

.button-up,
.button-down {
  border: 0;
  opacity: 0.2;
}

.button-down {
  background-image: url('../img/svg/icon-down-dir.svg');
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  margin-left: 17px;
}

.button-up {
  background-image: url('../img/svg/icon-up-dir.svg');
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

.menu-item:hover {
  opacity: 0.6;
}

.button-down:hover,
.button-up:hover {
  opacity: 0.4;
}

.menu-item:active,
.button-down:active,
.button-up:active {
  opacity: 1;
}

.sorting-active {
  opacity: 1;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  padding-left: 74px;
  margin: 0;
  padding-top: 17px;
}

.cat-item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 40px;
  margin-top: 50px;
  position: relative;
}

.cat-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 360;
  height: 380;
  margin-top: 0;
  margin-bottom: 25px;
}

.cat-item h3 {
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.018em;
  min-height: 40px;
  margin: 0;
  width: 260px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-top: 10px;
}

.catalog-item-price {
  color: #464646;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  width: 100px;
  text-align: right;
  margin: 0;
  margin-top: 13px;
}

.catalog-item-button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.cat-item:hover .catalog-item-button {
  display: block;
  background-color: rgba(238, 238, 238, 0.7);
  height: 380px;
}

.add-to-cart {
  width: 200px;
  margin: 173px auto 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, transparent), color-stop(43%, rgba(240, 197, 46, 1)), color-stop(57%, rgba(240, 197, 46, 1)), color-stop(57%, transparent));
  background-image: -webkit-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: -o-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
}

.add-to-cart:hover {
  background-color: rgba(240, 197, 46, 1);
}

.add-to-сompare {
  display: block;
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
  text-align: center;
}

.add-to-сompare:hover {
  opacity: 1;
}

.add-to-сompare:active {
  opacity: 0.2;
}

.flag-new {
  position: absolute;
  top: 27px;
  right: 27px;
  background-image: url('../img/flag-new.png');
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  z-index: 5;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  min-height: 70px;
  background-color: #ebebeb;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 72px;
  margin-left: 75px;
  margin-top: 43px;
}

.prev,
.next {
  width: 125px;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background-color: #ebebeb;
  padding: 25px 30px;
  letter-spacing: 0.2em;
}

.next {
  padding-left: 20px;
}

.prev:hover,
.next:hover {
  background-color: #d9d9d9;
}

.prev:active,
.next:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 510px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}

.pagination-item {
  width: 40px;
  text-align: center;
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.active-number {
  opacity: 1;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  90% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  70% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  90% {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  display: none;
  margin-left: -480px;
  margin-top: -280px;
  background-color: #fff;
  -webkit-box-shadow: -40px 0 40px -40px rgba(2, 4, 6, .75), 40px 0 40px -40px rgba(2, 4, 6, .75), 0 8px 20px 2px rgba(2, 4, 6, .2);
  box-shadow: -40px 0 40px -40px rgba(2, 4, 6, .75), 40px 0 40px -40px rgba(2, 4, 6, .75), 0 8px 20px 2px rgba(2, 4, 6, .2);
}

.modal-contact {
  width: 960px;
  min-height: 560px;
  padding: 95px 100px 78px;
}

.modal-map {
  width: 960px;
  min-height: 560px;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 20;
  width: 54px;
  height: 54px;
  font-size: 0;
  background-color: #f1c52e;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
}

.modal-close:focus {
  opacity: 1;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 26px;
  left: 14px;
  width: 27px;
  height: 2px;
  background-color: white;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active,
.modal-map .modal-close:active {
  opacity: 0.3;
}

.modal-btn {
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(43%, transparent), color-stop(43%, rgba(240, 197, 46, 1)), color-stop(57%, rgba(240, 197, 46, 1)), color-stop(57%, transparent));
  background-image: -webkit-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: -o-linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  border: 0;
  outline: none;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: rgba(240, 197, 46, 1);
}

.contact-form {
  font-size: 0;
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact-form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.contact-form fieldset:first-child {
  margin-right: auto;
}

.contact-form fieldset:first-child {
  margin-right: auto;
}

.contact-form label {
  margin-bottom: 12px;
  color: #000000;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  display: block;
}

.contact-form input[type=text] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 18px 20px;
  background-color: #eaeaea;
  border: 0;
  display: inline-block;
  width: 360px;
  vertical-align: baseline;
  font-size: 14px;
  opacity: 0.5;
}

.contact-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 760px;
  height: 155px;
  padding: 18px 20px;
  background-color: #eaeaea;
  border: 0;
  font-size: 14px;
  opacity: 0.5;
}

.contact-form input[type=text]::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  opacity: 0.4;
  color: #464646;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.contact-form input[type=text]::-webkit-input-placeholder:focus,
.contact-form textarea::-webkit-input-placeholder:focus {
  opacity: 1;
  color: #464646;
}

.contact-form input[type=text]:hover,
.contact-form textarea:hover {
  opacity: 0.8;
}

.contact-form input[type=text]:focus,
.contact-form textarea:focus {
  background-color: white;
  border: 3px solid #f0c52e;
  outline: none;
}

.contact-form input[type=text].modal-error, .contact-form textarea.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
  background-color: #edb5b5;
  opacity: 0.5;
}

.catalog .footer-menu {
  margin-top: 125px;
}

.catalog .footer-menu-user {
  margin: 65px 0 0 0;
}

.catalog .footer-adress {
  margin-top: 106px;
}
