/*Gilroy*/

@font-face {
  font-weight: 400;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
}


/*Open Sans*/

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
  min-width: 1160px;
  height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border: 0px;
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
}

.button {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.button a:hover {}

.button a:focus {}

ul {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000;
}


/* Header */

.header {
  background-color: rgba(247, 226, 150, 1);
  height: 186px;
  margin-top: 40px;
}

.header-logo a {
  display: block;
}

.header-logo img {
  position: relative;
  top: -19px;
  left: 59px;
  width: 164px;
  height: 36px;
}

.header-logo img:hover {
  opacity: 0.6;
}

.header-logo img:active {
  opacity: 0.3;
}

.header-search {
  display: flex;
  width: 441px;
  height: 49px;
  line-height: 36px;
  text-align: left;
  padding-left: 4px;
  margin-left: 59px;
  color: #000000;
}

.header-search svg {
  display: block;
}

.search-icon {
  padding-right: 18px;
  padding-top: 16px;
  height: 100px;
}

.search-input:focus~.search-icon {
  border-bottom: 2px solid black;
}

.search-input {
  border: 0;
  background-color: transparent;
  width: 315px;
  outline: none;
  order: 5;
  opacity: 0.3;
  margin-top: -5px;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus {
  border-bottom: 2px solid black;
  opacity: 1;
}

.search-input:focus+.search-btn {
  border: 2px solid black;
  visibility: visible;
}

.search-btn {
  width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  visibility: hidden;
  order: 10;
}

.search-btn:hover {
  background-color: #000;
  color: #fff;
}

.search-btn:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
  visibility: visible;
  outline: none;
}

.header-user-menu {
  display: flex;
  flex-wrap: wrap;
}

.header-user-navigation {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000;
  line-height: 36px;
  display: flex;
  margin-left: 59px;
  width: 598px;
  height: 15px;
  margin-top: 4px;
}

.header-user-navigation a {
  margin-left: 12px;
}

.header-user-navigation a:focus {
  opacity: 0.6;
}

.header-user-navigation a:hover {
  opacity: 0.3;
}

.login-link {
  width: 287px;
}

.login-link::before {
  content: "";
  background-image: url('../img/svg/user.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
}

.compare {
  width: 130px;
}

.compare::before {
  content: "";
  background-image: url('../img/svg/compare.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
}

.cart {
  width: 143px;
}

.cart::before {
  content: "";
  background-image: url('../img/svg/cart.svg');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
}

.catalog-navigation {
  list-style: none;
  display: flex;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  height: 16px;
  padding: 0;
}

.catalog-navigation a:active {
  opacity: 0.3;
}

.catalog-navigation a:hover {
  opacity: 0.6;
}

.catalog-item {
  width: 540px;
  margin-left: 58px;
}

.plus-icon::after {
  content: "";
  display: inline-block;
  background-image: url('../img/svg/plus.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  vertical-align: middle;
}

.delivery-item {
  width: 159px;
}

.warranty-item {
  width: 223px;
}

.contacts-item {
  width: 178px;
}

.category {
  
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-size: 15px;
  text-transform: none;
  display: none;
  width: 1040px;
  height: 156px;
  padding: 0;
  background-color: rgb(247, 226, 150);
}


/* Каталог */

.catalog {
  padding-left: 61px;
}

.catalog h1 {
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
}

.breadcrumbs li::after {
  content: "";
  background-image: url('../img/svg/nav-arrow.svg');
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  display: inline-block;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.catalog-list h3 {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.catalog-item-price {
  color: #464646;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
}

.add-to-сompare {
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
}


/*Слайдер в шапке*/

.header-slider {
  height: 576px;
  margin: 0px;
}

.header-background {
  background-color: rgba(247, 226, 150, 1);
  height: 113px;
}

.header-background img {
  margin-left: 600px;
}

.header-slider__button {
  position: relative;
}

.header-slider__button input[type=radio] {
  display: none;
}

.header-slider__button_controls {
  position: absolute;
  left: 996px;
  top: 206px;
}

.header-slider__button_controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #cccccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slider-inner {
  overflow: hidden;
}

.slider-inner h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  letter-spacing: 0.01em;
  font-size: 47px;
  margin-left: 599px;
}

.slider-number {
  position: absolute;
  top: -125px;
  left: 928px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: white;
  line-height: 179px;
  letter-spacing: 0.01em;
  font-size: 179px;
}

.header-slider__slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.header-slider__slides article {
  float: left;
  width: 1160px;
  height: 485px;
}

.header-slider__slides article p {
  margin-left: 599px;
}

.header-slider__slides article img {
  float: left;
  margin-right: 50px;
  margin-top: -50px;
}

.slider-btn {margin-left: 165px;}

.slider-description {
  margin-left: 599px;
}

.main-description {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 36px;
}

.more-description {
  font-size: 13px;
  line-height: 20px;
}

#btn-1:checked~.header-slider__button_controls label[for="btn-1"],
#btn-2:checked~.header-slider__button_controls label[for="btn-2"],
#btn-3:checked~.header-slider__button_controls label[for="btn-3"] {
  background-color: #666666;
}

#btn-1:checked~.slider-inner .header-slider__slides {
  transform: translate(0);
}

#btn-2:checked~.slider-inner .header-slider__slides {
  transform: translate(-1160px);
}

#btn-3:checked~.slider-inner .header-slider__slides {
  transform: translate(-2320px);
}

.slider-images img {
  float: left;
}

.slider-description {
  border-collapse: collapse;
  border-spacing: 0;
}

.slider-description td {
  padding: 10px 80px 10px 0;
}


/*Иконко-меню*/

.icon-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 18px;
  padding: 0;
}

.icon-navigation li {
  display: block;
  width: 160px;
  height: 236px;
}

.icon-navigation a:active {
  opacity: 0.3;
}

.icon-menu-btn {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
}

.icon-menu-btn:hover {
  background-color: rgba(240, 197, 46, 1)
}

.icon-menu-btn:active {
  background-color: rgba(240, 197, 46, 1);
}

.icon-menu-btn:active svg {
  margin: auto;
  opacity: 0.3;
}


/*Слайдер Услуги*/

.services {
  width: 1160px;
  margin: 40px auto;
}

.services__button {
  position: relative;
  float: left;
  width: 300px;
  height: 315px;
  border-right: 5px solid black;
}

.services__button input[type=button] {
  display: none;
}

.services__button_controls {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #f7e184;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.services__slider-inner {
  overflow: hidden;
}

.services__slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.services__slides article {
  float: left;
  margin-left: 115px;
  width: 785px;
  height: 315px;
}

.services__slides h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.services__slides article img {
  float: right;
  margin-right: 50px;
  margin-top: -50px;
}

.services__slides article h3 {
  margin-bottom: 20px;
}

#delivery:checked~.services__button label[for="delivery"],
#warranty:checked~.services__button label[for="warranty"],
#credit:checked~.services__button label[for="credit"] {
  background-color: #666666;
}

#delivery:checked~.services__slider-inner .services__slides {
  transform: translate(0);
}

#warranty:checked~.services__slider-inner .services__slides {
  transform: translate(-785px);
}

#credit:checked~.services__slider-inner .services__slides {
  transform: translate(-1570px);
}


/*Бренды*/

.brends__logo {
  list-style: none;
  display: flex;
}

.brends__logo img {
  filter: grayscale(1);
  opacity: 0.2;
}

.brends__logo img:hover {
  filter: none;
  opacity: 1;
}


/*О нас*/

.about {
  display: flex;
}

.about-us h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.about-us {
  width: 462px;
}

.about-us p {
  letter-spacing: 0;
}

.contacts {
  width: 560px;
  margin-left: 139px;
}

.contacts h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.contacts p {
  letter-spacing: 0;
}


/* Footer */

footer {
  background-color: #464646;
  width: 100%;
  height: 323px;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-contacts {
  width: 367px;
}

.footer-menu {
  float: left;
  width: 468px;
}

.footer-left {
  float: left;
  width: 325px;
}

.footer-logo a {
  display: block;
}

.footer-logo img {
  position: relative;
  top: 65px;
  width: 163px;
  height: 36px;
}

.footer-logo img:hover {
  opacity: 0.6;
}

.footer-logo img:active {
  opacity: 0.3;
}

.footer-adress {
  color: white;
  margin-top: 140px;
}

.footer-menu__services_list {
  list-style: none;
  display: flex;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 0;
  justify-content: center;
}

.footer-menu__services_list li {
  padding-right: 38px;
}

.footer-menu__services_list a {
  color: #fff;
}

.footer-menu__services_list a:hover {
  opacity: 0.6;
}

.footer-menu__services_list a:active {
  opacity: 0.3;
}

.footer-menu__social_list {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
}

.footer-menu__social_list li {
  padding-right: 38px;
}

.social-btn {
  opacity: 0.3;
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.footer-menu__user_list {
  display: flex;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 36px;
  width: 125px;
  height: 15px;
  padding: 0;
}

.footer-menu__user_list a {
  margin-left: 12px;
  color: #fff;
}

.footer-menu__user_list a:focus {
  opacity: 0.7;
}

.footer-menu__user_list a:hover {
  opacity: 0.3;
}


/*фильтр*/


/*каталог*/


/*пагинация*/
