/*@font-face {
  font-weight: 400;
  font-family: "Gilroy";
  font-style: normal;
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("/assets/course73/gilroy.woff") format("woff");
}*/

html,
body {
  min-width: 1200px;
  height: 100%;
  font-size: 100%;
  background-color: #fff;
  font-family: "Gilroy", "Open-Sans", sans-serif;
  color: grey;
}

*,
html,
body,
header,
footer,
main,
section,
article,
nuv,
aside,
time,
figure,
figcaption,
video,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0px;
  display: block;
}


/* Header */


/* Main */


/* Footer */
