/*Gilroy*/

@font-face {
  font-weight: 400;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
}


/*Open Sans*/

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #464646;
  min-width: 1160px;
  height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border: 0px;
  display: block;
  max-width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
}

.button {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: rgba(240, 197, 46, 1);
  display: block;
}

.button:hover {
  background-color: rgba(240, 197, 46, 1);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(240, 197, 46, 1);
}


/* Header */

.header {
  background-color: rgba(247, 226, 150, 1);
  height: 186px;
  margin-top: 40px;
}

.header-logo a {
  display: block;
}

.header-logo img {
  position: relative;
  top: -19px;
  left: 59px;
  width: 164px;
  height: 36px;
}

.header-logo img:hover {
  opacity: 0.6;
}

.header-logo img:active {
  opacity: 0.3;
}

.header-search {
  display: flex;
  width: 441px;
  height: 49px;
  line-height: 36px;
  text-align: left;
  padding-left: 4px;
  margin-left: 59px;
  color: #000000;
}

.header-search svg {
  display: block;
}

.search-icon {
  padding-right: 18px;
  padding-top: 16px;
}

.search-input:focus~.search-icon {
  border-bottom: 2px solid black;
}

.search-input {
  border: 0;
  background-color: transparent;
  width: 315px;
  outline: none;
  order: 5;
  opacity: 0.3;
  margin-top: -5px;
}

.search-input:hover {
  opacity: 0.6;
}

.search-input:focus {
  border-bottom: 2px solid black;
  opacity: 1;
}

.search-input:focus+.search-btn {
  border: 2px solid black;
  visibility: visible;
}

.search-btn {
  width: 85px;
  height: 49px;
  border: 2px solid black;
  background-color: transparent;
  visibility: hidden;
  order: 10;
}

.search-btn:hover {
  background-color: #000;
  color: #fff;
}

.search-btn:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
  visibility: visible;
  outline: none;
}

.header-user-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.header-user-navigation {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #000;
  line-height: 36px;
  display: flex;
  margin-left: 59px;
  width: 598px;
  height: 15px;
  margin-top: 4px;
}

.header-user-navigation a:hover {
  opacity: 0.6;
}

.header-user-navigation a:active {
  opacity: 0.3;
}

.login-link {
  width: 287px;
  display: block;
}

.login-link::before {
  content: "";
  background-image: url('../img/svg/user.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  margin-right: 14px;
}

.compare {
  width: 130px;
  display: block;
}

.compare::before {
  content: "";
  background-image: url('../img/svg/compare.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 14px;
}

.cart {
  width: 143px;
  display: block;
}

.cart::before {
  content: "";
  background-image: url('../img/svg/cart.svg');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 14px;
}

.catalog-navigation {
  list-style: none;
  display: flex;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
  height: 16px;
  padding: 0;
}

.catalog-navigation a:hover {
  opacity: 0.6;
}

.catalog-navigation a:active {
  opacity: 0.3;
}

.catalog-item {
  width: 540px;
  margin-left: 58px;
  position: relative;
}

.catalog-item:hover .category {
  display: flex;
  position: absolute;
  top: 20px;
  left: -58px;
  background-color: rgba(247, 226, 150, 1);
}

.plus-icon::after {
  content: "";
  display: inline-block;
  background-image: url('../img/svg/plus.svg');
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  vertical-align: middle;
}

.delivery-item {
  width: 159px;
}

.warranty-item {
  width: 223px;
}

.contacts-item {
  width: 178px;
}

.category {
  flex-wrap: wrap;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-size: 15px;
  text-transform: none;
  display: none;
  width: 1160px;
  min-height: 164px;
  padding: 0 0 0 58px;
  background-color: rgb(247, 226, 150);
  z-index: 5;
}

.category-1,
.category-2,
.category-3 {
  list-style: none;
}

.category-1 {
  padding: 22px 55px 0 3px;
}

.category-2 {
  padding: 22px 72px 0 3px;
}

.category-3 {
  padding: 22px 55px 0 3px;
}


/* Каталог */

.catalog {
  padding-left: 61px;
}

.catalog h1 {
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  padding-top: 34px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  opacity: 0.3;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  margin: 15px 0 40px;
  padding: 0;
}

.breadcrumbs li {
  margin-right: 18px;
}

.breadcrumbs li a:hover {
  opacity: 0.6;
}

.breadcrumbs li a:active {
  opacity: 0.1;
}

.breadcrumbs li::after {
  content: "";
  background-image: url('../img/svg/nav-arrow.svg');
  background-repeat: no-repeat;
  width: 4px;
  height: 7px;
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.breadcrumbs li:last-child::after {
  content: "";
  background-image: none;
}


/*Слайдер в шапке*/

.header-slider {
  position: relative;
  height: 576px;
  margin: 0px;
}

.header-slider::before {
  content: "";
  background-color: rgba(247, 226, 150, 1);
  height: 113px;
  width: 100%;
  display: block;
  position: absolute;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide-content {
  width: 500px;
  margin-right: 60px;
  margin-left: auto;
}

.slide-title {
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #000000;
  position: relative;
  padding-top: 83px;
  margin: 0;
  z-index: 2;
}

.slide-3 .slide-title {
  letter-spacing: 0;
}

.slide-title::before {
  content: "";
  display: block;
  background-color: white;
  width: 100px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 38px;
}


/*.slide-title::after*/

.slide-number {
  content: "";
  color: white;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  line-height: 179px;
  letter-spacing: 0.01em;
  font-size: 179px;
  display: block;
  position: absolute;
  top: -12px;
  right: 45px;
  z-index: 1;
}

.slide p {
  margin-top: 21px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  padding-bottom: 28px;
}

.slide-btn {
  width: 220px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: inset 0 17px 0 0 white, inset 0 -17px 0 0 white;
}

.slide-btn:hover {
  box-shadow: none;
}

.header-slider-buttons {
  position: absolute;
  top: 326px;
  right: 85px;
}

.header-slider-buttons label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  background-image: url('../img/svg/slider-button-empty.svg');
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.header-slider-buttons label:first-child {
  margin-left: 0;
}

.header-slider-buttons label:last-child {
  margin-right: 0;
}

.slide {
  display: none;
}

.slide-1-btn:checked~.slide-1 {
  display: flex;
}

.slide-2-btn:checked~.slide-2 {
  display: flex;
}

.slide-3-btn:checked~.slide-3 {
  display: flex;
}

.slide-1-btn:checked~.header-slider-buttons .slider-label-1 {
  background-image: url('../img/svg/slider-button.svg')
}

.slide-2-btn:checked~.header-slider-buttons .slider-label-2 {
  background-image: url('../img/svg/slider-button.svg')
}

.slide-3-btn:checked~.header-slider-buttons .slider-label-3 {
  background-image: url('../img/svg/slider-button.svg')
}


/*.slide-1 .slide-title::after{
  content: "01";
 display: block;
  background-image: url(../img/number-slide-1.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 131px;

}

.slide-2 .slide-title::after {
    content: "02";
  display: block;
  background-image: url(../img/number-slide-2.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 131px;
}

.slide-3 .slide-title::after {
  content: "03";
 /* display: block;
  background-image: url(../img/number-slide-3.png);
  background-repeat: no-repeat;
  width: 166px;
  height: 131px;
}*/

.slide-1 img {
  margin-left: 89px;
  margin-top: 2px;
}

.slide-2 img {
  margin-left: 116px;
  margin-top: 14px;
}

.slide-3 img {
  margin-left: 31px;
  margin-top: 66px;
}

.header-slider input[type=radio] {
  display: none;
}

.slide-description {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 44px;
}

.slide-1 .slide-description td {
  padding: 10px 76px 0 0;
}

.slide-1 .slide-description td:last-child {
  padding-right: 0;
}

.slide-2 .slide-description td {
  padding: 10px 76px 0 0;
}

.slide-2 .slide-description td:last-child {
  padding-right: 0;
}

.slide-3 .slide-description td {
  padding: 10px 48px 0 0;
}

.slide-3 .slide-description td:last-child {
  padding-right: 0;
}

.main-description {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 36px;
  letter-spacing: 0.01em;
}

.more-description {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}


/*Иконко-меню*/

.icon-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 18px;
  letter-spacing: 0.01em;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 36px;
}

.icon-navigation li {
  display: block;
  width: 160px;
  height: 236px;
}

.icon-navigation a:active {
  opacity: 0.3;
}

.icon-menu-btn {
  background-color: rgba(240, 197, 46, 0.5);
  width: 160px;
  height: 160px;
  display: flex;
  margin-bottom: 35px;
}

.icon-menu-btn img {
  margin: auto;
}

.icon-menu-btn:hover {
  background-color: rgba(240, 197, 46, 1)
}

.icon-menu-btn:active {
  background-color: rgba(240, 197, 46, 1);
}

.icon-menu-btn:active img {
  opacity: 0.3;
}


/*Слайдер Услуги*/

.services {
  width: 100%;
  min-height: 288px;
  background-color: #e5e5e5;
  margin-top: 186px;
}

.services-content {
  position: relative;
}

.services-slider {
  display: flex;
  position: absolute;
  top: -50px;
  left: 0;
}

.services-slide {
  width: 875px;
}

.services-slider input[type=radio] {
  display: none;
}

.warranty,
.credit {
  display: none;
}

.services-button {
  display: flex;
  flex-wrap: wrap;
  color: #000;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 284px;
  border-right: 7px solid black;
}

.services-button label {
  background-color: rgba(240, 197, 46, 1);
  box-shadow: inset 0 17px 0 0 #e5e5e5, inset 0 -17px 0 0 #e5e5e5;
  display: block;
  width: 160px;
  height: 40px;
  padding: 11px 25px;
}

.services-button label:hover {
  background-color: rgba(240, 197, 46, 1);
  box-shadow: none;
  width: 160px;
}

.services-button label:active {
  color: #f7e184;
  box-shadow: none;
  background-color: #000000;
  width: 278px;
}

.services-slide h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
  margin: 0;
  padding-left: 120px;
}

.services-slide img {
  float: right;
  margin-right: 50px;
  margin-top: -50px;
}

.services-slide p {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding-left: 120px;
}


/*Бренды*/

.brends__logo {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.brends__logo img {
  filter: grayscale(1);
  opacity: 0.2;
}

.brends__logo img:hover {
  filter: none;
  opacity: 1;
}


/*О нас*/

.about {
  display: flex;
  margin-bottom: 80px;
}

.about-content {
  margin-bottom: 95px;
}

.about-us {
  width: 600px;
  position: relative;
  margin: 0;
  padding-top: 95px;
  padding-right: 55px;
}

.about-us h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
  margin: 45px 0 0 0;
  padding-bottom: 25px;
}

.about-us h2::before {
  content: "";
  display: block;
  background-color: black;
  width: 80px;
  height: 7px;
  position: absolute;
  top: 93px;
  left: 0;
}

.about-us p {
  letter-spacing: 0;
  line-height: 30px;
  padding-bottom: 15px;
}

.about-us ul {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0;
  color: #000;
  list-style: none;
  padding: 35px 0 0 0;
}

.about-us ul>li {
  position: relative;
  padding-left: 35px;
}

.about-us ul>li:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 50%;
  border: 0.1em solid #e5e5e5;
}

.contacts {
  width: 560px;
  position: relative;
  margin: 0;
  padding-top: 103px;
}

.contacts h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.contacts h2::before {
  content: "";
  display: block;
  background-color: black;
  width: 80px;
  height: 7px;
  position: absolute;
  top: 93px;
  left: 0;
}

.contacts p {
  letter-spacing: 0;
  line-height: 30px;
  padding-bottom: 15px;
}

.contacts img {
  padding-top: 10px;
}

.about-us-btn,
.contacts-btn {
  width: 260px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  box-shadow: inset 0 17px 0 0 white, inset 0 -17px 0 0 white;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 60px;
}

.about-us-btn:hover,
.contacts-btn:hover {
  box-shadow: none;
}


/* Footer */

footer {
  background-color: #464646;
  width: 100%;
  height: 323px;
}

.footer {
  display: flex;
}

.footer-contacts {
  width: 350px;
}

.footer-menu {
  width: 485px;
  margin-top: 120px;
}

.footer-left {
  width: 325px;
  margin-left: auto;
  position: relative;
}

.footer-logo a {
  display: block;
}

.footer-logo img {
  position: relative;
  top: 65px;
  width: 163px;
  height: 36px;
}

.footer-logo img:hover {
  opacity: 0.6;
}

.footer-logo img:active {
  opacity: 0.3;
}

.footer-adress {
  color: white;
  margin-top: 100px;
  position: relative;
}

.footer-adress::after {
  content: "";
  display: block;
  background-color: rgba(255, 198, 0, 1);
  width: 80px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 98px;
}

.footer-menu__services_list {
  list-style: none;
  display: flex;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-right: 60px;
  justify-content: center;
}

.footer-menu__services_list li {
  padding-left: 34px;
}

.footer-menu__services_list li:first-child {
  padding-left: 0;
}

.footer-menu__services_list a {
  color: #fff;
}

.footer-menu__services_list a:hover {
  opacity: 0.6;
}

.footer-menu__services_list a:active {
  opacity: 0.3;
}

.footer-menu__social_list {
  list-style: none;
  display: flex;
  padding-right: 65px;
  margin-top: 65px;
  justify-content: center;
}

.footer-menu__social_list li {
  padding-left: 22px;
}

.footer-menu__social_list li:first-child {
  padding-left: 0;
}

.social-btn {
  opacity: 0.3;
}

.social-btn:hover {
  opacity: 0.6;
}

.social-btn:active {
  opacity: 0.1;
}

.footer-menu__user_list {
  display: flex;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 36px;
  height: 15px;
  padding: 0;
  margin: 59px 0 0 0;
}

.footer-menu__user_list a {
  color: #fff;
}

.login-link-footer {
  width: 113px;
  display: block;
}

.login-link-footer::before {
  content: "";
  background-image: url('../img/svg/user-footer.svg');
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  display: inline-block;
  margin-right: 14px;
}

.compare-footer {
  width: 130px;
  display: block;
}

.compare-footer::before {
  content: "";
  background-image: url('../img/svg/compare-footer.svg');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 12px;
}

.cart-footer {
  width: 90px;
  display: block;
}

.cart-footer::before {
  content: "";
  background-image: url('../img/svg/cart-footer.svg');
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 12px;
}

.footer-menu__user_list a:hover {
  opacity: 0.6;
}

.footer-menu__user_list a:active {
  opacity: 0.3;
}

.footer-phone {
  color: white;
  margin-top: 62px;
  text-align: right;
}

.footer-copyright img {
  position: absolute;
  bottom: 14px;
  right: 0;
}

.footer-copyright img:hover {
  opacity: 0.6;
}

.footer-copyright img:active {
  opacity: 0.3;
}


/*фильтр*/

.catalog-contetnt {
  display: flex;
  width: 1100px;
}

.catalog-filter {
  width: 268px;
  min-height: 780px;
  background-color: #efefef;
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.catalog-filter h2 {
  height: 70px;
  background-color: #dbdbdb;
  color: #000000;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 15px 0;
  margin: 0 0 70px 0;
}

fieldset {
  padding: 0 65px 0 0;
  border: 0
}

legend {
  padding: 0 0 40px 0;
  border: 0;
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

legend::before {
  content: "";
  width: 201px;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 20px;
  padding: 0;
}


.range-controls {
  position: relative;
  height: 25px;

  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -7px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  opacity: 0.2;
  color: #000000;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.price-controls label {
 
  display: inline-block;
 
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}
/*input[type=range]{
  
  background-color: #3f91e5;
  width: 100%;;
  height:2px;
  }*/

.filter-input:hover+label {}

.filter-input:active+label {}

.filter-button {
  margin-top: 40px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: transparent;
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
  border: 0;
}

.filter-button:hover {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-product {
  width: 832px;
  padding: 0 0 0 72px;
  min-height: 1285px;
}

.sorting-container {
  height: 70px;
  background-color: #ebebeb;
  position: relative;
}

.catalog-menu {
  list-style: none;
  display: flex;
  padding: 25px 0;
  margin: 0;
}

.menu-item-title {
  color: #000000;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: 25px;
}

.menu-item {
  color: #000000;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 30px;
  opacity: 0.3;
}

.catalog-menu li:first-child {
  margin-left: 0;
  opacity: 1;
}

.catalog-menu-btn {
  list-style: none;
  display: flex;
  position: absolute;
  top: 11px;
  right: 0;
  padding: 0;
}

.button-up,
.button-down {
  border: 0;
  opacity: 0.2;
}

.button-down {
  background-image: url('../img/svg/icon-down-dir.svg');
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
  margin-left: 17px;
}

.button-up {
  background-image: url('../img/svg/icon-up-dir.svg');
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

.menu-item:hover {
  opacity: 0.6;
}

.button-down:hover,
.button-up:hover {
  opacity: 0.4;
}

.menu-item:active,
.button-down:active,
.button-up:active {
  opacity: 1;
}

.sorting-active {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 0 55px 0;
}

.cat-item {
  width: 360px;
  height: 440px;
  margin-right: 40px;
  margin-top: 68px;
  position: relative;
}

.cat-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-image {
  width: 360;
  height: 380;
  margin: 0;
}

.cat-item h3 {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
  min-height: 0.02em;
  position: absolute;
  left: 0;
  top: 395px;
  padding-right: 35px;
  width: 300px
}

.catalog-item-price {
  color: #464646;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  position: absolute;
  right: 0;
  top: 400px;
}


/*.active {
  width: 360px;
  height: 380px;
  background-color: #eeeeee;
  opacity: 0.7;
}*/

.catalog-item-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
}

.add-to-cart {
  width: 200px;
  margin: 173px auto 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  
  background-color: transparent;
  background-image: linear-gradient(transparent 43%, rgba(240, 197, 46, 1) 43%, rgba(240, 197, 46, 1) 57%, transparent 57%);
}

.add-to-cart:hover {
  background-color: rgba(240, 197, 46, 1);
}

.add-to-сompare {
  display: block;
  opacity: 0.5;
  color: #000000;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  text-transform: none;
  text-align: center;
}

.add-to-сompare:hover {
  opacity: 1;
}

.add-to-сompare:active {
  opacity: 0.2;
}

.flag-new {
  position: absolute;
  top: 27px;
  right: 27px;
  background-image: url('../img/flag-new.png');
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  z-index: 5;
}


/*каталог*/


/*пагинация*/

.pagination {
  display: flex;
  list-style: none;
  height: 70px;
  background-color: #ebebeb;
  color: #000000;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-bottom: 70px;
}

.prev,
.next {
  width: 125px;
  color: #000000;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  background-color: #ebebeb;
  padding: 0 30px;
  letter-spacing: 0.2em;
}

.prev:visited,
.next:visited {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.prev:hover,
.next:hover {
  background-color: #d9d9d9;
}

.prev:active,
.next:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-items {
  list-style: none;
  display: flex;
  margin: auto;
  width: 510px;
  justify-content: center;
}

.pagination-item {
  margin-right: 30px;
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.active-number {
  opacity: 1;
}
