/*Gilroy*/

@font-face {
  font-weight: 400;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroylight.woff") format("woff"), url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Gilroy";
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff") format("woff"), url("../fonts/gilroyextrabold.woff2") format("woff2");
}


/*Open Sans*/

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}



html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
  min-width: 1160px;
  height: 100%;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

img {
  border: 0px;
  display: block;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.conteiner {
  margin-right: auto;
  margin-left: auto;
  width:1160px;
}

.button {
  color: #000000;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.button a:hover {}

.button a:focus {}


/* Header */

header {
  background-color: #f0c52e;
  width: 1160px;
  height: 299px;
}

.header-search {
  line-height: 36px;
  opacity: 0.3;
}

.header-user-navigation {
  list-style: none;
  line-height: 36px;
  display: flex;
}

.header-user-navigation a:focus {
  opacity: 0.6;
}

.header-user-navigation a:hover {
  opacity: 0.3;
}

.catalog-navigation {
  list-style: none;
  display: flex;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  letter-spacing: 0.2em;
  font-size: 18px;
  text-transform: uppercase;
}

.catalog-navigation a:focus {
  opacity: 0.6;
}

.catalog-navigation a:hover {
  opacity: 0.3;
}

.category {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-size: 15px;
  text-transform: none;
}


/* Main */


/*Слайдер в шапке*/

.header-slider {
  width: 1160px;
  margin: 40px auto;
}

.header-slider__button {
  position: relative;
}

.header-slider__button input[type=radio] {
  display: none;
}

.header-slider__button_controls {
  margin-bottom: 100px;
  text-align: right;
}

.header-slider__button_controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #cccccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slider-inner {
  overflow: hidden;
}

.slider-inner h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  letter-spacing: 0.2em;
  font-size: 47px;
  margin-left: 599px;
}

.slider-number {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: white;
  line-height: 179px;
  letter-spacing: 0.01em;
  font-size: 179px;
}

.header-slider__slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.header-slider__slides article {
  float: left;
  width: 1160px;
  height: 485px;
}

.header-slider__slides article img {
  float: left;
  margin-right: 50px;
  margin-top: -50px;
}

.slider-description {
  margin-left: 599px;
}

.main-description {
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  color: black;
  font-size: 36px;
}

.more-description {
  font-size: 13px;
  line-height: 20px;
}

#btn-1:checked~.header-slider__button_controls label[for="btn-1"],
#btn-2:checked~.header-slider__button_controls label[for="btn-2"],
#btn-3:checked~.header-slider__button_controls label[for="btn-3"] {
  background-color: #666666;
}

#btn-1:checked~.slider-inner .header-slider__slides {
  transform: translate(0);
}

#btn-2:checked~.slider-inner .header-slider__slides {
  transform: translate(-1160px);
}

#btn-3:checked~.slider-inner .header-slider__slides {
  transform: translate(-2320px);
}

.slider-images img {
  float: left;
}


/*Иконко-меню*/

.icon-navigation {
  list-style: none;
  display: flex;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 18px;
}

.icon-navigation a:hover {
  opacity: 0.3;
}


/*Слайдер Услуги*/

.services {
  width: 1160px;
  margin: 40px auto;
}

.services__button {
  position: relative;
  float: left;
  width: 300px;
  height: 315px;
  border-right: 5px solid black;
}

.services__button input[type=button] {
  display: none;
}

.services__button_controls {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: #f7e184;
  font-size: 18px;
  letter-spacing: 0.2em;
}

.services__slider-inner {
  overflow: hidden;
}

.services__slides {
  width: 300%;
  transition: transform 0.8s ease;
}

.services__slides article {
  float: left;
  margin-left: 115px;
  width: 785px;
  height: 315px;
}

.services__slides h3 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.services__slides article img {
  float: right;
  margin-right: 50px;
  margin-top: -50px;
}

.services__slides article h3 {
  margin-bottom: 20px;
}

#delivery:checked~.services__button label[for="delivery"],
#warranty:checked~.services__button label[for="warranty"],
#credit:checked~.services__button label[for="credit"] {
  background-color: #666666;
}

#delivery:checked~.services__slider-inner .services__slides {
  transform: translate(0);
}

#warranty:checked~.services__slider-inner .services__slides {
  transform: translate(-785px);
}

#credit:checked~.services__slider-inner .services__slides {
  transform: translate(-1570px);
}


/*Бренды*/

.brends__logo {
  list-style: none;
  display: flex;
}


/*О нас*/

.about-us h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.about-us {
  width: 462px;
}

.about-us p {
  letter-spacing: 0;
}

.contacts {
  width: 560px;
  margin-left: 139px;
}

.contacts h2 {
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  color: black;
  font-size: 47px;
}

.contacts p {
  letter-spacing: 0;
}


/* Footer */

footer {
  background-color: #464646;
  width: 100%;
}


/*хлебные крошки*/


/*фильтр*/


/*каталог*/


/*пагинация*/
